.container {
    width: calc(100% - 43px);
    margin: 0 auto;
    padding-top: 22px;

    p {
        margin: 0;
        font-size: .9rem;
        margin-bottom: 20px;
        color: var(--white);
        font-weight: 400;

    }

    h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 20px;
        color: var(--text-light);
    }
}