<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'followers' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
         <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>George Smith</h2>
                    <h3>@georgesmith</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <h3>@emiliwiliamson</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Kesha Taylor</h2>
                    <h3>@keshataylor</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Linda Johnson</h2>
                    <h3>@lindahere</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Opus Labs</h2>
                    <h3>@opuslabs</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Ling Tong</h2>
                    <h3>@lingtong</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tosh Williamson</h2>
                    <h3>@mr.williamson</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Usuz Smith</h2>
                    <h3>@imuzuz</h3>
                </div>
                <ion-button size="small" expand="block" fill="outline" class="btn end">{{'following' | translate}}</ion-button>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Rohan Patel</h2>
                    <h3>@roahnindian</h3>
                </div>
                <ion-button size="small" expand="block" class="btn end">{{'follow' | translate}}</ion-button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>