<ion-header class="bg_transparent">
    <ion-toolbar>
        <div class="d-flex">
            <ion-segment [(ngModel)]="tab" (ionChange)="onChange($event.target.value)" lines="none" mode="md">
                <ion-segment-button value="following" mode="md" class="active">
                    <ion-label>{{'following' | translate}}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="related" mode="md">
                    <ion-label>{{'related' | translate}}</ion-label>
                </ion-segment-button>
            </ion-segment>

            <div class="buy_this_app end"  *ngIf="config.showBuyPromt" (click)="buyAppAction()">
                <h2>
                    {{"buy_this_app" | translate}}
                </h2>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="bg_color">
    <div class="video_view" *ngIf="tab === 'following'">
        <ion-slides #followingVideos [options]="option1" (ionSlideDidChange)="onFollowingVideoChange()">
            <ion-slide *ngFor="let followingPost of followingPosts; let followingPostIndex=index">
                <video loop class="followingVideoPlayer" poster="./assets/imgs/splash.png" [src]="followingPost.videoUrl" (play)="addView(followingPost)" (paused)="addView(followingPost)"  (ended)="addView(followingPost)" type="video/ogg"></video>
                <div class="video_option">
                    <div class="details d-flex">
                        <div class="text_box">
                            <h2 (click)="user_profile(followingPost.postBy)">{{ '@' + followingPost.username }}</h2>
                            <p (click)="videos_list()">
                                {{ followingPost.description }}
                                <i>{{'see_more' | translate}}</i>
                            </p>
                        </div>

                        <div class="other_details end">
                            <h3 class="ion-text-center" (click)="sharePost(followingPost)">
                                <ion-icon class="zmdi zmdi-mail-reply"></ion-icon>
                                {{ followingPost?.sharing | objectKeysLength | shortNumber }}
                            </h3>
                            <h3 *ngIf="followingPost.canComment" (click)="comment(followingPost.id)">
                                <ion-icon class="zmdi zmdi-comment-outline"></ion-icon>
                                {{ followingPost?.comments?.length }}
                            </h3>
                            <h3 [ngClass]="isBookmarked(followingPost.bookmarks) ? 'favorite_icons active' : 'favorite_icons'" (click)="toggleBookmark(followingPost)">
                                <span class="favorite_icon">
                                    <ion-icon class="zmdi zmdi-bookmark-outline"></ion-icon>
                                    <ion-icon class="zmdi zmdi-bookmark"></ion-icon>
                                </span>
                                {{ followingPost?.bookmarks | objectKeysLength | shortNumber }}
                            </h3>
                            <h3 [ngClass]="isLiked(followingPost.id) ? 'favorite_icons active' : 'favorite_icons'" (click)="toggleLike(followingPost)">
                                <span class="favorite_icon">
                                    <ion-icon class="zmdi zmdi-favorite-outline"></ion-icon>
                                    <ion-icon class="zmdi zmdi-favorite"></ion-icon>
                                </span>
                                {{ likes[followingPost.id] | objectKeysLength | shortNumber }}
                            </h3>
                            <div class="user_profile" (click)="toggleFollow(followingPost)">
                                <div class="img_box center_img">
                                    <img [src]="followingPost.posterPhoto" onerror="this.src='assets/imgs/user-placeholder.svg'" class="crop_img">
                                </div>
                                <ion-icon [hidden]="currentUser.uid === followingPost.postBy" [ngClass]="following[followingPost.postBy] ? 'zmdi-check' : 'zmdi-plus'" class="zmdi"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="video_stick">
                        <div class="video_stick_active" style="width: 70%"></div>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <div class="video_view" *ngIf="tab === 'related'">
        <ion-slides #relatedVideos [options]="option1" (ionSlideDidChange)="onRelatedVideoChange()">
            <ion-slide *ngFor="let post of posts; let postIndex=index">
                <video loop [autoplay]="postIndex === relatedActiveIndex" class="relatedVideoPlayer" poster="./assets/imgs/splash.png" [src]="post.videoUrl" (play)="addView(post)" (paused)="addView(post)"  (ended)="addView(post)" type="video/ogg"></video>
                <div class="video_option">
                    <div class="details d-flex">
                        <div class="text_box">
                            <h2 (click)="user_profile(post.postBy)">{{ '@' + post.username }}</h2>
                            <p (click)="user_profile(post.postBy)">
                                {{ post?.description }}
                                <i>{{'see_more' | translate}}</i>
                            </p>
                        </div>

                        <div class="other_details end">
                            <h3 class="ion-text-center" (click)="sharePost(post)">
                                <ion-icon class="zmdi zmdi-mail-reply"></ion-icon>
                                {{ post?.sharing | objectKeysLength | shortNumber }}
                            </h3>
                            <h3 *ngIf="post.canComment" (click)="comment(post.id)">
                                <ion-icon class="zmdi zmdi-comment-outline"></ion-icon>
                                {{ post?.comments?.length }}
                            </h3>
                            <h3 [ngClass]="isBookmarked(post.bookmarks) ? 'favorite_icons active' : 'favorite_icons'" (click)="toggleBookmark(post)">
                                <span class="favorite_icon">
                                    <ion-icon class="zmdi zmdi-bookmark-outline"></ion-icon>
                                    <ion-icon class="zmdi zmdi-bookmark"></ion-icon>
                                </span>
                                {{ post?.bookmarks | objectKeysLength | shortNumber }}
                            </h3>
                            <h3 [ngClass]="isLiked(post.id) ? 'favorite_icons active' : 'favorite_icons'" (click)="toggleLike(post)">
                                <span class="favorite_icon">
                                    <ion-icon class="zmdi zmdi-favorite-outline"></ion-icon>
                                    <ion-icon class="zmdi zmdi-favorite"></ion-icon>
                                </span>
                                {{ likes[post.id] | objectKeysLength | shortNumber }}
                            </h3>
                            <div class="user_profile" (click)="toggleFollow(post)">
                                <div class="img_box center_img">
                                    <img [src]="post.posterPhoto" onerror="this.src='assets/imgs/user-placeholder.svg'" class="crop_img">
                                </div>
                                <ion-icon [hidden]="currentUser.uid === post.postBy" [ngClass]="following[post.postBy] ? 'zmdi-check' : 'zmdi-plus'" class="zmdi"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="video_stick">
                        <div class="video_stick_active" style="width: 70%"></div>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
